 #div_pai {
  width: 4rem;
  height: 4rem;
 }

 #logo_sebrae {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 1s;
    left: 0.4em;
    top: 0.4em;
    position: absolute;
    margin: auto;
} 
  
  .c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #0A6BB2;
    height: 100%;
    width: 100%;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }